@font-face {
    font-family: 'Montseratt';
    src: url(/fonts/averta/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

