/* БАЗА, ОСНОВА */

body {
    background-color: #FEF4FF;
    min-width: 360px;
}

.container {
max-width: 1288px;
width: 100%;
margin: 0 auto;

}

/* СТИЛИ ХЕДЕРА ============================= */

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    align-items: center;
}



.header__menu {
    font-family: 'Montseratt';
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    display: flex;
    gap: 30px;
}

.header__menu li.active,

.header__menu li:hover {
    color: #4386FF;
    text-shadow: 0px 0px 0.8px currentColor;
}

.dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown-options {
    padding-top: 15px;
    margin-left: -10px;
    display: none;
    position: absolute;
    overflow: auto;
    background-color: #FEF4FF;
   
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
  }
  
  .dropdown-options a {
    font-family: 'Montseratt';
    font-weight: 400;
    font-size: 16px;
    display: block;
    color: #000000;
    padding:10px 10px;
    text-shadow: none;
  }
  
  .dropdown-options a:hover {
    color: #fff;
    background-color: #4386FF;
  }

  .header__menu_dropdown_arrow {
    font-size: 8px;
    vertical-align: middle;
    
  }

  .header__right {
    display: flex;
    gap: 20px;
  }


.header__phone {
    font-family: 'Montseratt';
    font-weight: 600;
    font-size: 18px;
    color: #4386FF;
    display: block;
}

.header__mail {
    font-family: 'Montseratt';
    font-weight: 400;
    font-size: 16px;
    color: black;
    opacity: 40%;
    display: block;
}

.header__socs {
    display: flex;
    gap: 10px;
}

.header__soc {
    width: 48px;
    height: 48px;
    background-color: #3980FF;
    border-radius: 5px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.header__soc:hover {
    background-color: #2f68ca; 
}

.header__burger {
    display: none;
    width: 48px;
    height: 48px;
    background-color: #3980FF;
    border-radius: 5px;
    justify-content: center; 
    align-items: center;
}

/*адаптив=========================================*/

@media (max-width: 1300px) {
  .header {
    padding: 0 20px 0 20px;
  }

  .logo {
    width: 221px;
    height: 56px; 
  }

  .header__menu {
    font-size: 14px;
    gap: 20px;
}

.header__phone {
  font-size: 15px;
}

.header__mail {
  font-size: 14px;
}

.dropdown-options a {
  font-size: 14px;
  padding:10px 10px;
}

}

@media (max-width: 1070px) {


 .header__nav {
  display: none;
 }

 .header__burger {
  display: flex;
 }


}

@media (max-width: 600px) {
  .header__right {
    display: none;
  }
}